@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--<a asp-page="./Create">Create</a>-->
<div class="vertical-center">
    <a asp-page="./BaterPonto" class="btn btn-link nounderline">
        <i class="fas fa-book-medical fa-10x d-block"></i>
        Bater Ponto
    </a>
</div>