@page
@model EPonto.Pages.RecursosHumanosModel
@{
    ViewData["Title"] = "Recursos Humanos";
}

<h1>Recursos Humanos</h1>
<hr />
<a asp-page="./RH/CriaFuncionario">Criar Funcionários</a>
<br />
<a asp-page="./RH/ListaFuncionario">Listar Funcionários</a>
<br />
<a asp-page="./RH/ListaPonto">Listar Pontos</a>
<br />
<a asp-page="./RH/ListaHora">Listar Horas Trabalhadas e Extras</a>